<h3 class="tituloDescripcion">Datos del vehículo</h3>
<hr/>
<div class="row fila">
	<div class="col-md-3">
		<h2 class="textoField">{{vehiculo.numero_serie}}</h2>
		<h3 class="etiqueta">Número de serie</h3>
	</div>
	<div class="col-md-2">
		
		<h2 class="textoField">{{vehiculo.idLinea.idMarca.idTipoVehiculo}}</h2>
		<h3 class="etiqueta">Tipo de Vehículo</h3>
	</div>
	<div class="col-md-3">
		
		<h2 class="textoField">{{vehiculo.idLinea.idMarca}} {{vehiculo.idLinea}}</h2>
		<h3 class="etiqueta">Vehículo</h3>
	</div>
	<div class="col-md-2">
		
		<h2 class="textoField">{{vehiculo.anio}}</h2>
		<h3 class="etiqueta">Modelo</h3>
	</div>
	<div class="col-md-2">
		
		<h2 class="textoField">{{vehiculo.color}}</h2>
		<h3 class="etiqueta">Color</h3>
	</div>
</div>

