<h3 class="tituloDescripcion">Usuarios</h3>
<hr/>
<table class="table table-responsive busqueda">    
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Correo electrónico</th>
      <th>Activo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios%}
      <tr>
        <td><h3><i class="fa fa-user"></i> {{usuario.username}}</h3></td>
        <td><h3>{{usuario.get_full_name}}</h3></td>
        <td><h3>{{usuario.email|default:"No especificado"}}</h3></td>
        <td>
          <h3>
            {{usuario.is_active}}
          </h3>
        </td>
        <td>
          <ul class="table-options">
              <li><a href=""><i class="fa fa-pencil"></i></a></li>
              <li><a href=""><i class="fa fa-times"></i></a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>