<h3 class="tituloDescripcion">Usuarios</h3>
<hr/>
<table class="table table-responsive busqueda">    
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Correo electrónico</th>
      <th class="texto-centrado">Activo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios%}
      <tr>
        <td><i class="fa fa-user"></i> {{usuario.username}}</td>
        <td>{{usuario.get_full_name}}</td>
        <td><i class="fa fa-envelope-o"></i> {{usuario.email|default:"No especificado"}}</td>
        <td class="texto-centrado">
            {% if usuario.is_active %}
              <i class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-ban"></i>
            {% endif %}
        </td>
        <td class="texto-centrado">
          <ul class="table-options">
              <li><a href=""><i class="fa fa-pencil"></i></a></li>
              <li><a href=""><i class="fa fa-times"></i></a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>