<h3 class="tituloDescripcion">Resultados de la búsqueda</h3>
<hr/>
<table class="table table-responsive busqueda">    
  <thead>
    <tr>
      <th>Folio</th>
      <th>Tipo de vehículo</th>
      <th>Vehículo</th>
      <th>No. de Serie</th>
      <th>Propietario</th>
      <th>Expedición</th>
      <th>Vigencia</th>
    </tr>
  </thead>
  <tbody>
    {% for permiso in lista_permisos%}
      <tr>
        <th scope="row"><a href="{% url 'vpermiso_folio' permiso.idPropietario permiso.idVehiculo permiso.idPermiso%}">{{permiso.folio}}</a></th>
        <td><h3>{{permiso.tipoVehiculo}}</h3></td>
        <td>{{permiso.vehiculo}}</td>
        <td><a href="{% url 'vehiculo' permiso.idVehiculo %}">{{permiso.serie}}</a></td>
        <td><a href="{% url 'propietario' permiso.idPropietario%}">{{permiso.propietario}}</a></td>
        <td>{{permiso.expedicion}}</td>
        <td>{{permiso.vigencia}}</td>
        <td>
          <a href="{% url 'imprime_folio' permiso.idPermiso%}"><i class="fa fa-print"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>