<h3 class="tituloDescripcion">Vehículos registrados para este propietario</h3>
<hr/>
<table class="table table-responsive busqueda">    
  <thead>
    <tr>
      <th>Número de serie</th>
      <th>Tipo de vehículo</th>
      <th>Vehículo</th>
    </tr>
  </thead>
  <tbody>
    {% for vehiculo in vehiculos_propietario%}
      <tr>
        <th scope="row"><a href="{% url 'vehiculo' vehiculo.id %}">{{vehiculo.numero_serie}}</a></th>
        <td>
          {% if vehiculo.idLinea.idMarca.idTipoVehiculo.id == 1%}
            <i class="fa fa-car"></i> {{vehiculo.idLinea.idMarca.idTipoVehiculo}}
          {% elif vehiculo.idLinea.idMarca.idTipoVehiculo.id == 2%}
            <i class="fa fa-motorcycle"></i> {{vehiculo.idLinea.idMarca.idTipoVehiculo}}
          {%endif%}
        </td>
        <td><h3>{{vehiculo.idLinea.idMarca}} {{vehiculo.idLinea}} </h3></td>
      </tr>
    {% endfor %}
  </tbody>
</table>