{% extends "base.html"%}
{%load static from staticfiles%}

{%block morecss %}
	<link rel="stylesheet" href="{% static 'css/kendo.common.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/kendo.office365.min.css' %}">
{% endblock %}
{%block nav_up%}
	{%include "nav_up.html"%}
{%endblock%}
{%block content %}
	<main class="cd-main-content">
		{%include "nav_left.html"%}
		<div class="content-wrapper">
			{% if vehiculo%}
				{%include "permiso/datos_vehiculo.html"%}
			{% endif %}
			<hr/>
			{% if permisos_vehiculo%}
				{%include "permiso/permisos_vehiculo.html"%}
			{% endif %}
			{%if error%}
				<div class="error-form-message">
					<p><i class="fa fa-exclamation-circle"></i> {{error}}</p>
				</div>
			{%endif%}
			<hr/>
			<div class="cd-box">
				<a href="{% url 'vregistro_folio' vehiculo.idPropietario.id vehiculo.id%}" class="btn btn-info" name="registra_nuevo_permiso"><i class="fa fa-print"></i> Registrar nuevo permiso</a>
			</div>
		</div> <!-- .content-wrapper -->
	</main> 
{%endblock%}
{% block jsScripts%}
<script src="{% static 'js/kendo.all.min.js' %}"></script>
{%endblock%}
