{%load static from staticfiles%}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
  	{%block morecss%}{%endblock%}
	<title>{%block title%}{%endblock%}</title>
</head>
<body>

{% block nav_up%}{%endblock%} 
{% block content %}{%endblock%}

<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/jquery.menu-aim.js' %}"></script>
<script src="{% static 'js/csfr.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
{% block jsScripts%}{%endblock%}
</body>
</html>